.container {
  border: 5px solid black;
  top: 0;
  left: 25%;
  width: 50%;
  position: sticky;
}

.header {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
}

.flq1 {
  width: 25%;
  float: left;
  padding: 15px;
}

.flq2 {
  float: left;
  width: 25%;
  padding: 15px;
}

.city {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 2000px;
  width: 500px;
}

.city1 {
  font-size: 150%;
  font-family: 'Luckiest Guy', cursive;
}
